<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>195538487263-73ordesvac8mhaa6b4uuprpa71dvuip5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195538487263-73ordesvac8mhaa6b4uuprpa71dvuip5</string>
	<key>API_KEY</key>
	<string>AIzaSyAKRA1BSdjxW9SdgVGQOv3xGsj9kGxj1KA</string>
	<key>GCM_SENDER_ID</key>
	<string>195538487263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryderapps.CommuteTracker</string>
	<key>PROJECT_ID</key>
	<string>commutetracker-e0f47</string>
	<key>STORAGE_BUCKET</key>
	<string>commutetracker-e0f47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:195538487263:ios:8a5075cde278296a</string>
	<key>DATABASE_URL</key>
	<string>https://commutetracker-e0f47.firebaseio.com</string>
</dict>
</plist>